In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns; sns.set_style('darkgrid')
import numpy as np
import scipy.stats as sp
import sklearn
from sklearn.cross_validation import cross_val_score, train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.svm import SVC
from sklearn import tree
import sklearn.ensemble as ske
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.feature_selection import SelectKBest, chi2

/home/rong/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv('titanic_data.csv')

In [3]:
dfX=df.drop(df.columns[1], axis=1)

In [4]:
dfY=df["Survived"].values
def getEmb(x):
    if x["Embarked"]==np.nan:
        x["Embarked"]="S"
    return

In [5]:
dfX.apply(getEmb,axis=1)
dfX["Sex"] = dfX["Sex"].apply(lambda sex:1 if sex=="male" else 0)
dfX["Age"] = dfX["Age"].fillna(df["Age"].mean())
#chi = SelectKBest(chi2, k=3)
#train = chi.fit_transform(dfX, dfY)

In [6]:
dfX.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
dfX.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [8]:
dfX= dfX.drop("Name",1)

In [9]:
dfX= dfX.drop("Ticket",1)

In [10]:
dfX= dfX.drop("Cabin",1)

In [11]:
dfX= dfX.drop("Embarked",1)
dfX= dfX.drop("PassengerId",1)

In [12]:
dfX.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  22.0      1      0   7.2500
1       1    0  38.0      1      0  71.2833
2       3    0  26.0      0      0   7.9250
3       1    0  35.0      1      0  53.1000
4       3    1  35.0      0      0   8.0500

In [14]:
chi = SelectKBest(chi2, k=5)
dfX = chi.fit_transform(dfX, dfY)

In [15]:
dfX

array([[  3.        ,   1.        ,  22.        ,   0.        ,   7.25      ],
       [  1.        ,   0.        ,  38.        ,   0.        ,  71.2833    ],
       [  3.        ,   0.        ,  26.        ,   0.        ,   7.925     ],
       ...,
       [  3.        ,   0.        ,  29.69911765,   2.        ,  23.45      ],
       [  1.        ,   1.        ,  26.        ,   0.        ,  30.        ],
       [  3.        ,   1.        ,  32.        ,   0.        ,   7.75      ]])

In [ ]:
dfX.describe()

In [ ]:
# result: result is different from chi2_contingency from scip.stats. Like age is chosen here in chi2